@import url(reset.css);
@import url(media.css);
* {
    box-sizing: border-box;
} /*공부*/

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #873340;
}

/*=====================================================*/
#wrap, #header {
    width: 100%;
}

#header {
    background-color: skyblue;
}

#header-inner {
    display:flex;
    justify-content: space-between;
    margin: auto;
    width: 1280px;
    background-color: darkslateblue;
}

.logo-wrap {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: coral;
}

/*================================================================*/
/*=================main===========================*/

#main {
    width: 100%;
    background-color: goldenrod;
}
#main-inner {
    display: flex;
    margin: auto;
    width: 1280px;
    height: 800px;
    background-color: palegreen;
}
/*===================nav============*/

/*게시판에 들어갈 것
자유게시판, 정육 팁 게시판, 식육 실시간 시세? */

#nav, #aside {
    width: 250px;
}

#nav {
    background-color: darksalmon;
}

/*===================section============*/

#section {
    width: 100%;
    background-color: dimgray;
}

/*===================aside============*/

#aside {
    background-color: mediumslateblue;
}


/*=============================================================*/
/*============================footer==============================*/


#footer {
    margin-top: auto;
    width: 100%;
    background-color: orchid;
}

#footer-inner {
    margin: auto;
    width: 1280px;
    height: 200px;
    background-color: olivedrab;
}





/*
.header {
background-color: #883441;
    background-color: #F5B0B9;
    background-color: #EB6173;
    background-color: #FAD8DC;
    background-color: #FAD7DC
}*/
