@import url(reset.css);
/*@import url(media.css);*/
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:100; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:200; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:300; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:400; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:500; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:600; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:700; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:100; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:200; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:300; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:400; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:500; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:600; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:700; src:url(../../fonts/pretendard-Regular.woff) format('woff');}

html {
    font-size: 62.5%;
    background-color: #F4F8FE;
}

/*#6A002E#540024*/
/*
.title { font-size: 40px; }
.title__image { width: 10em; }
.title__text { font-size: 0.4em; }
*/

* {
    box-sizing: border-box;
} /*공부*/

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}


/*=====================================================*/
/*===================nav============*/

/*게시판에 들어갈 것
자유게시판, 정육 팁 게시판, 식육 실시간 시세? */

#nav-inner, #header-inner, #footer-inner {
    margin: 0 auto;
    width: 124rem;
    max-width: 124rem;
}

#header {
    height: 50rem;
}

#header-inner {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    background: darkgoldenrod;
}

/*header-top 이너*/

#top-inner {
    width: 124rem;
    max-width: 124rem;
}

#header-top {
    background-color: #ffffff;
    border-bottom: 1px solid #DDDDDD;
}

#header-inner, #main-inner, #footer-inner {
}

#nav, #header-top{
    margin: auto;
    width: 100%;
}

/*header 맨위 div*/

#header-top #top-inner {
    display:flex;
    align-items: center;
    margin: auto;
    padding: 2rem;
}
#header-top-top {
    background-color: darkred;
    width: 100%;
    height: 3.9rem;
}

.banner-text-wrap {
    width: 50%;
    height: 100%;
    background-color: inherit;
}

.banner-text-wrap > h1, strong {
    font-size: 5rem;
    color: #FBF6F5;
    /*opacity: 0.7;*/
}

.banner-img-wrap {
    width: 50%;
    height: 100%;
}

.banner-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50rem;
    height: 50rem;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
}

#header {
    background: darkred;
    margin-top: 3rem;
}

#nav {
    font-family: 'pretendard', sans-serif;
    font-weight: 700;
    background-color: #F1F5FD;
}

#nav-inner {
    display:flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

/*----header-top 로고----*/

.logo-wrap {
    display:flex;
    width: 30rem;
    height: 100%;
    align-items: center;
}

.logo.name {
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.banner-img > img {
    width: 50rem;
    height: 50rem;
}

/*------검색창-----*/
.search-wrap {
    width: 45rem;
    height: 5.5rem;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    background-color: #D8E5F8;
}

.search-inner-area {
    display: flex;
    align-items: center;
    width:95%;
    height: 100%;
    border: 0;
}

.search-inner-area > img {
    background-color: cadetblue;
    border: 1px solid darkgoldenrod;
}

.search-inner-area > input {
    width: 100%;
    height: 70%;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    font-size: 1.6rem;
}

::placeholder {
    font-weight: 400;
    font-size: 1.6rem;
    color: darkslategrey;
}

/*======================검색기록 구현=================*/
/*
.search-history-wrap {
    position: absolute;
    top: 18px;
    background-color: red;
}

.first, .mid, .last {
    border: 0;
    background-color: #ffffff;
}

.search-history.first {
    height: 12px;
    border-radius: 50px 50px 0 0;
}

.search-history.mid {
    width: 650px;
}

.search-history.last {
    height: 12px;
    border-radius: 0 0 50px 50px;
}
*/

/*=================header===========================*/
#wrap {
    width: 100%;
}

.logo-search-wrap {
    display: flex;
    justify-content: center;
}

.banner-img-wrap {
}

/*================================================================*/
/*=================main===========================*/

#main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#main-wrap {
    display: flex;
    justify-content: center;
    margin: auto;
}
/*===================section============*/

#section {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 124rem;
    height: 90rem;
    background-color: mediumseagreen;
}

/*===================aside============*/

#aside {
    width: 35rem;
    height: 90rem;
    background-color: rosybrown;
}

#nav-sidebar {
    padding: 2rem;
    width: 35rem;
    height: 90rem;
    background-color: darkmagenta;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

/*----게시판 구현----*/

.nav-board-wrap {
    position: sticky;
    top: 1rem;
}

/*게시판 레이아웃*/

.board-area {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 25rem;
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: white;
}

/*게시판 자체 div*/
/*부모요소의 관계 공부*/
.board {
    /*!*조절*!*/
    width: 20rem;
    border: 1px solid black;
    background-color: brown;
}

.board > .title {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background-color: white;
}

.board > .title > strong {
    color: black;
    font-size :1.5rem;
}

.board > .sub-list > div {
    color: black;
    font-size :1.5rem;
    border: 1px solid grey;
    background-color: yellow;
}

/*.board-a > div {
    font-weight: 700;
    font-size: 1.6rem;
    background-color: burlywood;
    width: 18rem;
}*/

/*
.menu-dropdown {
    position : relative;
    display : inline-block;
}

.dropdown-content {
    display : none;
    position : absolute;
    z-index : 1; !*다른 요소들보다 앞에 배치*!
}

.dropdown-content div {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/

/*=============================================================*/
/*============================footer==============================*/


#footer {
    width: 100%;
}

#footer-inner {
    margin: auto;
    height: 20rem;
    background-color: olivedrab;
}

/*쪽지 기능*/





/*

font 설정하기 메인 로고랑 게시글부분이랑 따로
.header {
background-color: #883441;
    background-color: #F5B0B9;
    background-color: #EB6173;
    background-color: #FAD8DC;
    background-color: #FAD7DC
    background-color: #C06570;
}*/



/*
<div class="board-list">
<div class="title">
<strong>게시판</strong>
</div>
<div class="sub-list">
<div>
<a href="#">자유게시판</a>
</div>
<div>
<a href="#">팁</a>
</div>
<div>
<a href="#">1234</a>
</div>
</div>
</div>
*/


@media screen and (max-width: 1920px) {
    html{
        font-size: 62.5%
    }
}

@media screen and (max-width: 1440px) {
    html{
        font-size: 57.5%;
    }
}

@media screen and (max-width: 1280px) {
    html{
        font-size: 49.5%
    }
}

@media screen and (max-width: 1080px) {
    html{
        font-size: 41.5%
    }
}

@media screen and (max-width: 768px) {
    html{
        font-size: 38.5%
    }
}

@media screen and (max-width: 360px) {

}