@import url(reset.css);
@import url(main.js);
/*@import url(media.css);*/
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:100; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:200; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:300; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:400; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:500; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:600; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'-apple-system'; font-style: normal; font-weight:700; src:url(../../fonts/SF-Pro.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:100; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:200; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:300; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:400; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:500; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:600; src:url(../../fonts/pretendard-Regular.woff) format('woff');}
@font-face {font-family:'pretendard'; font-style: normal; font-weight:700; src:url(../../fonts/pretendard-Regular.woff) format('woff');}

html {
    font-size: 62.5%;
    background-color: #F4F8FE;
}
html, body {
    width:100%; height:100%;
}

/*#6A002E#540024*/
/*
.title { font-size: 40px; }
.title__image { width: 10em; }
.title__text { font-size: 0.4em; }
*/

* {
    box-sizing: border-box;
} /*공부*/

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}


/*=====================================================*/
/*===================nav============*/

/*게시판에 들어갈 것
자유게시판, 정육 팁 게시판, 식육 실시간 시세? */

#nav-inner {
    margin: 0 auto;
    width: 80rem;
    max-width: 80rem;
}

#main-inner {
    width: 106rem;
    max-width: 124rem;
}

#header-inner {
    width: 106rem;
    max-width: 124rem;
}

#footer-inner {
    width: 106rem;
    max-width: 124rem;
}

#header {
    width: 100%;
}

#header-inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-login {
    width: 25rem;
    height: 35rem;
}

.header-login > div {
    width: 24rem;
    height: 34rem;
    margin: 0.5rem;
    background-color: #F4F8FE;
}
/*header-top 이너*/

#top-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 106rem;
    max-width: 124rem;
}

#header-top {
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #DDDDDD;
}

#nav, #header-top{
    margin: auto;
    width: 100%;
}

/*header 맨  위 div*/

#header-top #top-inner {
    display:flex;
    align-items: center;
    margin: auto;
    padding: 2rem;
}

#header-top-top {
    background-color: #8F2124;
    width: 100%;
    height: 3.4rem;
}

.banner-text-wrap {
    width: 20rem;
    height: 100%;
    background-color: inherit;
}

.banner-img-text-wrap {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.banner-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60rem;
    height: 35rem;
    background-size: cover;
    z-index: -1;
    /*opacity: 0.7;*/
}

.banner-img-wrap {
    height:100%;
}

#header {
    background: #8F2124;
    margin-top: 3rem;
}

#nav {
    font-family: 'pretendard', sans-serif;
    font-weight: 700;
    background-color: #F1F5FD;
}

#nav-inner {
    display:flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.nav-list {
    width: 28rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list a {
    font-size: 1.5rem;
    font-weight: 700;
}

/*----header-top 로고----*/

.logo-wrap {
    display:flex;
    width: 25rem;
    height: 100%;
    align-items: center;
    background: brown;
}

.logo.name {
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.logo.img {
    width: 50px;
    height: 50px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    font-family: "맑은 고딕", sans-serif ;
    color: white;
}

.banner-text > h1 {
    font-size: 3rem;
}

.banner-text > strong {
    font-size: 2rem;
}

.banner-img > img {
    overflow: hidden;
    width: 80rem;
    height: 35rem;
}

/*------검색창-----*/
.search-wrap {
    width: 45rem;
    height: 5.5rem;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    background-color: #D8E5F8;
}

.search-inner-area {
    display: flex;
    align-items: center;
    width:95%;
    height: 100%;
    border: 0;
}

.search-inner-area > img {
    border: 1px solid darkgoldenrod;
}

.search-inner-area > input {
    width: 100%;
    height: 70%;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    font-size: 1.6rem;
}

::placeholder {
    font-weight: 400;
    font-size: 1.6rem;
    color: darkslategrey;
}

/*======================검색기록 구현=================*/
/*
.search-history-wrap {
    position: absolute;
    top: 18px;
    background-color: red;
}

.first, .mid, .last {
    border: 0;
    background-color: #ffffff;
}

.search-history.first {
    height: 12px;
    border-radius: 50px 50px 0 0;
}

.search-history.mid {
    width: 650px;
}

.search-history.last {
    height: 12px;
    border-radius: 0 0 50px 50px;
}
*/

/*=================header===========================*/
#wrap {
    margin: 0 auto;
    width: 100%;
}

.logo-search-wrap {
    display: flex;
    justify-content: center;
}

/*================================================================*/
/*=================main===========================*/

#main {
    margin: auto;
    width: 100%;
}

#main-wrap {
    display: flex;
    margin: 0 auto;
}

#main-inner {
    width: 106em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
/*===================section============*/

#section {
    display: flex;
    flex-direction: column;
    width: 80rem;
    min-width: 80rem;
    max-width: 80rem;
    height: 80rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39.5rem;
    height: 39.5rem;
    margin-top : 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    /*border-radius: 0.75rem;*/
    /*box-shadow: rgb(0 0 0 / 4%) 0 0.125rem 0.625rem 0;*/

    /*border: 0.0625rem solid #dedede;*/
} /*10개씩 나오게 하기*/

.container.size-big{
    width: 80rem;
    height: 39.5rem;
    /*border-radius: 0.75rem;*/
    /*box-shadow: rgb(0 0 0 / 4%) 0 0.125rem 0.625rem 0;*/
    /*border: 0.0625rem solid #dedede;*/
} /*10개씩 나오게 하기*/
/*
.first {
    margin-left: 1rem;
}
*/

.container > div {
    margin-bottom: 5px;
}

.board-name {
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 3.25rem;
    width: 100%;
    font-size: 1.5rem;
}

.best-post > div {
    margin-bottom: 0.7rem;
    padding: 0.6rem;
}

.best-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3rem;
}

.floor {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

/*===================aside============*/

#aside {
    display: flex;
    width: 25rem;
    justify-content: center;
    border: 1px solid black;
}

#nav-sidebar {
    padding: 1rem;
    height: 100%;
    display: flex;
    position: absolute;
    right: 106rem;
    margin: 0 auto;
}
/*width를 fluid로 한다 (%, em등)*/
/*----게시판 구현----*/

/*게시판 레이아웃*/

.board-area {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #dedede;
    border-radius: 0.75rem;
    width: 25rem;
    padding: 2rem;
    position: sticky;
    top: 2rem;
}

/*게시판 자체 div*/

.board {
    /*!*조절*!*/
    width: 20rem;
    border: 1px solid black;
    background-color: brown;
}

.board > .title {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background-color: white;
}

.board > .title > strong {
    color: black;
    font-size :1.5rem;
}

.board > .sub-list > div {
    color: black;
    font-size :1.5rem;
    border: 1px solid grey;
    background-color: yellow;
}

/*인기글 미리보기*/

.board-component {
    width: 100%;
    display: flex;
    border-bottom: 0.0625rem solid #dedede;
}

.board-component > div {
    display: flex;
    justify-content: center;
}
.best-post .num {
    width: 10%;
}

.best-post .title {
    width: 80%;
    justify-content: flex-start;
}

.best-post .writer {
    width: 15%;
}

.best-post .date {
    width: 20%;
}

.best-post .count {
    width: 5%;
}

.best-post .good {
    width: 5%;
}

.best-post .comment-num {
    color:red;
}

.best-post .category {
    width: 15%;
}

/*--------------------------------------------------------------*/
/*게시글 요소*/

.board-component  {
    width: 100%;
    display: flex;
    border-bottom: 0.0625rem solid #dedede;
    font-size: 1.5rem;
}

.board-component  > div {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
}

.board-component.top {
    background-color: darkgrey;
}

.board-component.top > div.title {
    display: flex;
    justify-content: center;
}

.board-component .num {
    width: 10%;
}

.board-component .title {
    width: 50%;
    justify-content: flex-start;
}

.board-component .writer {
    width: 10%;
}

.board-component .date {
    width: 10%;
}

.board-component .count {
    width: 10%;
}

.board-component .good {
    width: 10%;
}

.board-component .comment-num {
    color:red;
}

.board-component .category {
    width: 15%;
}

/*-------------------------------------------------------------------------*/
/*페이지 넘기기 버튼*/

.board-pagination {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.board-pagination .wrap {
    display: flex;
    justify-content: center;
}

.board-pagination > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border: 1px solid grey;
    line-height: 1.5;
}

.board-pagination > div > a:hover {
    background-color: darkgrey;
}

.board-pagination > a.active {
    cursor: default;
    background-color: darkslategray;
    color: white;
}

.board-pagination > a:active {
    outline: none;
}


/*.board-a > div {
    font-weight: 700;
    font-size: 1.6rem;
    background-color: burlywood;
    width: 18rem;
}*/

/*
.menu-dropdown {
    position : relative;
    display : inline-block;
}

.dropdown-content {
    display : none;
    position : absolute;
    z-index : 1; !*다른 요소들보다 앞에 배치*!
}

.dropdown-content div {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/
/*글쓰기 페이지*/

#board-post-wrap {
    display: none;
}

.board-post {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btn-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.board-post > div {
    margin-top: 1rem;
}

.main-title > strong {
    font-size: 1.6rem;
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post > input, textarea {
    width: 75rem;
}

.post > textarea {
    height: 50rem;
}

/*전송 취소 버튼 레이아웃*/

.btn-default {
    margin: 0.6rem;
    border: 0;
    width: 10rem;
    padding: 0.3rem;
    background-color: grey;
    color: white;
    font-size: 1.3rem;
}


/*=============================================================*/
/*============================footer==============================*/

#footer {
    margin-top: auto;
    width: 100%;
    background-color: #E5E5E5;
}

#footer-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 5.5rem;
    font-size: 1.4rem;
}

#footer-inner > div {
    display: flex;
}

#footer-inner > div, p {
    padding: 0.7rem;
}

/*글쓰기 버튼*//*버튼클릭시 레이아웃 전환*/
.board-top {
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
}

.btn-wrap {
    display: flex;
}

/*---------------------------------------------------------------------*/
@media screen and (max-width: 1920px){
    html {
        font-size: 62.5%
    }
}

@media screen and (max-width: 1900px){
    html {
        font-size: 62%
    }
}

@media screen and (max-width: 1880px){
    html {
        font-size: 61.5%
    }
}

@media screen and (max-width: 1860px){
    html {
        font-size: 60%
    }
}

@media screen and (max-width: 1840px){
    html {
        font-size: 59.5%
    }
}

@media screen and (max-width: 1820px) {
    html {
        font-size: 59%;
    }
}

@media screen and (max-width: 1800px) {
    html {
        font-size: 58.5%;
    }
}

@media screen and (max-width: 1780px) {
    html {
        font-size: 58%;
    }
}

@media screen and (max-width: 1760px) {
    html {
        font-size: 57.5%;
    }
}

@media screen and (max-width: 1740px) {
    html {
        font-size: 57%;
    }
}

@media screen and (max-width: 1720px) {
    html {
        font-size: 56.5%;
    }
}

@media screen and (max-width: 1700px) {
    html {
        font-size: 56%;
    }
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 55.5%;
    }
}

@media screen and (max-width: 1660px) {
    html {
        font-size: 55%
    }
}

@media screen and (max-width: 1640px) {
    html {
        font-size: 54.5%
    }
}

@media screen and (max-width: 1620px) {
    html {
        font-size: 54%
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 53.5%
    }
}

@media screen and (max-width: 1580px) {
    html {
        font-size: 53%;
    }
}

@media screen and (max-width: 1560px) {
    html {
        font-size: 52.5%
    }
}

@media screen and (max-width: 1540px) {
    html {
        font-size: 52%
    }
}

@media screen and (max-width: 1520px) {
    html {
        font-size: 51.5%
    }
}

@media screen and (max-width: 1500px) {
    html {
        font-size: 50%
    }
}

@media screen and (max-width: 1480px) {
    html {
        font-size: 49.5%;
    }
}

@media screen and (max-width: 1460px) {
    html {
        font-size: 49%
    }
}

@media screen and (max-width: 1440px) { /*breakpoint*/
    html {
        font-size: 48.5%
    }
}

@media screen and (max-width: 1420px) {
    html {
        font-size: 48%
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 47.5%
    }
}

@media screen and (max-width: 1380px) {
    html {
        font-size: 47%;
    }
}

@media screen and (max-width: 1360px) {
    html {
        font-size: 46.5%
    }
}

@media screen and (max-width: 1340px) {
    html {
        font-size: 46%
    }
}

@media screen and (max-width: 1320px) {
    html {
        font-size: 45.5%
    }
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 45%
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 44.5%;
    }
}

@media screen and (max-width: 1260px) {
    html {
        font-size: 44%
    }
}

@media screen and (max-width: 1240px) {
    html {
        font-size: 43.5%
    }
}

@media screen and (max-width: 1220px) {
    html {
        font-size: 43%
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 42.5%
    }
}
